# Random Forest on Titanic Dataset
Here I replicate the work done in the datacamp kaggle tutorial.

## Preamble

In [113]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [114]:
pd.options.mode.chained_assignment = None

## Load data

In [115]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

## Impute values, and transform non-numeric categories
These steps required the chained_assignment option to be changed, because there is something complex to be understood when it comes to changing values of a dataframe based on a copy of a slice. I don't understand this yet.
https://stackoverflow.com/questions/21463589/pandas-chained-assignments

In [117]:
train.Age = train.Age.fillna(train.Age.median())
train.Sex[train.Sex == 'male'] = 1
train.Sex[train.Sex == 'female'] = 0
train.Embarked = train.Embarked.fillna('S')
train.Embarked[train.Embarked == 'S'] = 0
train.Embarked[train.Embarked == 'C'] = 1
train.Embarked[train.Embarked == 'Q'] = 2

test.Fare[152] = test.Fare.median()
test.Embarked = test.Embarked.fillna('S')
test.Embarked[test.Embarked == 'S'] = 0
test.Embarked[test.Embarked == 'C'] = 1
test.Embarked[test.Embarked == 'Q'] = 2
test.Sex[test.Sex == 'male'] = 1
test.Sex[test.Sex == 'female'] = 0
test.Age = test.Age.fillna(test.Age.median())

In [119]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,0
5,6,0,3,"Moran, Mr. James",1,28.0,0,0,330877,8.4583,NaN,2
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,0
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.0,3,1,349909,21.0750,NaN,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0,0,2,347742,11.1333,NaN,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0,1,0,237736,30.0708,NaN,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,G6,0
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,0
12,13,0,3,"Saundercock, Mr. William Henry",1,20.0,0,0,A/5. 2151,8.0500,NaN,0
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.0,1,5,347082,31.2750,NaN,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.0,0,0,350406,7.8542,NaN,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.0,0,0,248706,16.0000,NaN,0
16,17,0,3,"Rice, Master. Eugene",1,2.0,4,1,382652,29.1250,NaN,2
17,18,1,2,"Williams, Mr. Charles Eugene",1,28.0,0,0,244373,13.0000,NaN,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.0,1,0,345763,18.0000,NaN,0
19,20,1,3,"Masselmani, Mrs. Fatima",0,28.0,0,0,2649,7.2250,NaN,1
20,21,0,2,"Fynney, Mr. Joseph J",1,35.0,0,0,239865,26.0000,NaN,0
21,22,1,2,"Beesley, Mr. Lawrence",1,34.0,0,0,248698,13.0000,D56,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.0,0,0,330923,8.0292,NaN,2
23,24,1,1,"Sloper, Mr. William Thompson",1,28.0,0,0,113788,35.5000,A6,0
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8.0,3,1,349909,21.0750,NaN,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.0,1,5,347077,31.3875,NaN,0
26,27,0,3,"Emir, Mr. Farred Chehab",1,28.0,0,0,2631,7.2250,NaN,1
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19.0,3,2,19950,263.0000,C23 C25 C27,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,28.0,0,0,330959,7.8792,NaN,2
29,30,0,3,"Todoroff, Mr. Lalio",1,28.0,0,0,349216,7.8958,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21.0,1,0,28134,11.5000,NaN,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.0,0,0,17466,25.9292,D17,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,28.0,8,2,CA. 2343,69.5500,NaN,0
864,865,0,2,"Gill, Mr. John William",1,24.0,0,0,233866,13.0000,NaN,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42.0,0,0,236852,13.0000,NaN,0
866,867,1,2,"Duran y More, Miss. Asuncion",0,27.0,1,0,SC/PARIS 2149,13.8583,NaN,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.0,0,0,PC 17590,50.4958,A24,0
868,869,0,3,"van Melkebeke, Mr. Philemon",1,28.0,0,0,345777,9.5000,NaN,0
869,870,1,3,"Johnson, Master. Harold Theodor",1,4.0,1,1,347742,11.1333,NaN,0
870,871,0,3,"Balkic, Mr. Cerin",1,26.0,0,0,349248,7.8958,NaN,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.0,1,1,11751,52.5542,D35,0
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.0,0,0,695,5.0000,B51 B53 B55,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47.0,0,0,345765,9.0000,NaN,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.0,1,0,P/PP 3381,24.0000,NaN,1
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.0,0,0,2667,7.2250,NaN,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.0,0,0,7534,9.8458,NaN,0
877,878,0,3,"Petroff, Mr. Nedelio",1,19.0,0,0,349212,7.8958,NaN,0
878,879,0,3,"Laleff, Mr. Kristo",1,28.0,0,0,349217,7.8958,NaN,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.0,0,1,11767,83.1583,C50,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.0,0,1,230433,26.0000,NaN,0
881,882,0,3,"Markun, Mr. Johann",1,33.0,0,0,349257,7.8958,NaN,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.0,0,0,7552,10.5167,NaN,0
883,884,0,2,"Banfield, Mr. Frederick James",1,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,0
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.0,0,5,382652,29.1250,NaN,2
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,0
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,28.0,1,2,W./C. 6607,23.4500,NaN,0
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,1
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,2

## Build the model
Initialize the random forest, and the feature and target vectors

In [120]:
features = train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
target = train.Survived

In [121]:
forest = RandomForestClassifier(max_depth=10, min_samples_split=2, n_estimators=100)
forest = forest.fit(features, target)

## Predict
Use the model to predict the feature of the test sample

In [127]:
test_features = test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
prediction = forest.predict(test_features)

## Generate output
Use a dataframe to output a csv file to upload to Kaggle

In [128]:
solution = pd.DataFrame(prediction, test.PassengerId, columns=['Survived'])
solution

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 0
897                 0
898                 0
899                 0
900                 1
901                 0
902                 0
903                 0
904                 1
905                 0
906                 1
907                 1
908                 0
909                 0
910                 0
911                 0
912                 1
913                 1
914                 1
915                 0
916                 1
917                 0
918                 1
919                 0
920                 1
921                 0
...               ...
1280                0
1281                0
1282                0
1283                1
1284                0
1285                0
1286                0
1287                1
1288                0
1289                1
1290                0
1291                0
1292                1
1293                0
1294                1
1295                0
1296                0
1297                0
1298                0
1299                0
1300                1
1301                1
1302                1
1303                1
1304                0
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [129]:
solution.to_csv('forest_sol.csv', index_label=['PassengerId'])